.header {
  width: 100%;
  padding: 15px 10px;
  background-color: $s-bg-color;
  min-height: 50px;

  .header_links {
    line-height: 20px;
    width: 100%;

    &_item {
      display: inline-block;
      text-decoration: none;
      margin-left: 10px;
      color: $p-txt-color;
      padding: 1px 2px;
      &:hover {
        color: $salmon;
      }

      svg {
        width: 12px;
        vertical-align: middle;
        display: inline-block;
      }

      &_text {
        font-size: rem(13px);
        margin-left: 4px;
        display: none;
        @include screen('nosmall') {
          display: inline-block;
        }
      }
    }

    &_box_left > a:first-child {
      margin-left: 0;
    }
  }
}
