@use '../../scss/global/theme';

.header {
  width: 100%;
  padding: 15px 0;
  background-color: theme.$s-bg-color;
  min-height: 50px;

  .header_links {
    width: 100%;

    &_item {
      display: inline-block;
      text-decoration: none;
      color: theme.$p-txt-color;
      padding: 1px 2px;

      &:hover {
        color: theme.$salmon;
      }

      svg {
        width: 16px;
        height: 16px;
        margin-left: 15px;
        vertical-align: middle;
        display: inline-block;

        @include theme.sm {
          margin-left: 10px;
          width: 12px;
        }
      }

      &:first-child svg {
        margin-left: 0;
      }

      &_text {
        font-size: 13px;
        margin-left: 4px;
        display: none;
        @include theme.sm {
          display: inline-block;
        }
      }
    }
  }
}
