@use 'positions';
@use 'sass:color';
@use './global/theme';

#forkMe {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  @media (min-width: 1250px) {
    display: block;
  }
}

html {
  font-size: 14px;
  @include theme.sm {
    font-size: 15px;
  }

  body {
    padding: 0;
    margin: 0;
    color: theme.$p-txt-color;
    background-color: theme.$p-bg-color;
    overflow-y: auto;
    font-family: ABeeZee, sans-serif;
    text-rendering: optimizeLegibility;

    #__next {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }
  }
}

html body div#nprogress div.bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  background: theme.$salmon;
}

main#main-app {
  padding: 0 10px;
  flex: 1;
  width: 100%;
  background-color: theme.$p-bg-color;
}

body {
  * {
    box-sizing: border-box;
  }

  b {
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;

    @include theme.sm {
      font-size: 1.05rem;
      line-height: 1.4;
    }
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: Karma, sans-serif;
    font-weight: 500;
  }

  h2 {
    margin: 0;
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
  }

  h3 {
    font-size: 1.75rem;
    text-align: center;
    font-weight: 500;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
  }

  h5 {
    font-weight: 400;
    font-size: 1.15rem;
  }

  hr.striped {
    width: 100%;
    height: 30px;
    max-width: 100%;
    border: 0;
    background: url('/images/stripes.png') center left repeat-x;
    display: flex;
    justify-content: center;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .note {
    color: color.scale(#444444, $lightness: 11%);
    font-size: 13px;
    font-style: italic;
    line-height: normal;
  }
}
