.button {
  border: 2px solid #f0f0f0;
  display: block;
  margin: 10px 20px;
  color: #f0f0f0;
  font-family: 'ABeeZee', sans-serif;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 10px;
  background-color: #000;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  opacity: 0.8;
  transition-property: color, background-color, opacity, border-color,
    box-shadow;
  transition-duration: 0.3s;
  transition-timing-function: ease;

  &:hover,
  &:focus {
    opacity: 1;
  }

  svg {
    margin-right: 5px;
  }

  &[disabled] {
    cursor: not-allowed;
    background-color: #f0f0f0;
    color: $p-txt-color;
    cursor: default;
  }

  &.primary {
    color: #fff;
    background-color: #f05f40;
    border-color: #fff;
    &:not(:disabled):hover {
      color: #f05f40;
      background-color: #fff;
      border-color: #f05f40;
    }
    &.inverse {
      color: #f05f40;
      background-color: #fff;
      border-color: #f05f40;
      &:not(:disabled):hover {
        color: #fff;
        background-color: #f05f40;
        border-color: #fff;
      }
    }
  }
}
