.button {
  border: 2px solid #f0f0f0;
  display: block;
  color: #f0f0f0;
  font-family: 'ABeeZee', sans-serif;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  padding: 10px 10px;
  background-color: #000;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  opacity: 0.8;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  outline: none;

  &:hover,
  &:focus {
    opacity: 1;
  }

  svg {
    margin-right: 5px;
    width: 16px;
  }

  &.primary {
    color: #fff;
    background-color: $salmon;
    border-color: #fff;
    &:not(:disabled):hover {
      color: $salmon;
      background-color: #fff;
      border-color: $salmon;
    }
    &.inverse {
      color: $salmon;
      background-color: #fff;
      border-color: $salmon;
      &:not(:disabled):hover {
        color: #fff;
        background-color: $salmon;
        border-color: #fff;
      }
    }
  }

  &:disabled {
    cursor: not-allowed !important;
    background-color: #f0f0f0;
    color: $p-txt-color;
  }
}
