@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin pseudo($display: block, $pos: absolute, $content: '') {
  content: $content;
  display: $display;
  position: $pos;
}

@mixin screen($size) {
  @if $size == 'nosmall' {
    @media only screen and (min-width: 480px) {
      @content;
    }
  } @else {
    @content;
  }
}
