.title {
  padding: 25px 10px;
  text-align: center;
  width: 100%;

  & > h2 {
    color: $p-txt-color;
    padding-bottom: 7px;
  }

  & > p {
    font-style: italic;
    font-weight: 700;
    color: $salmon;
    text-decoration: underline;
  }
}
