@use 'sass:color';
@use '../../scss/global/theme';

.container {
  padding: 25px 10px;
  text-align: center;
  width: 100%;
}

.title {
  color: theme.$p-txt-color;
  padding-bottom: 7px;
  font-size: 1.9rem;
}

.subtitle {
  display: inline-block;
  font-style: italic;
  font-family: ABeeZee, sans-serif;
  font-weight: 700;
  color: theme.$salmon;
  position: relative;
  font-size: 1rem;
  &:after {
    @include theme.pseudo();
    width: 100%;
    height: 1px;
    background: color.scale(theme.$salmon, $lightness: 24%, $space: oklch);
    bottom: 0;
    left: 0;
    right: 0;
  }
}
