@use '../../scss/global/theme';

.blog__page {
  .blog__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 18px;

    @include theme.sm {
      grid-template-columns: 1fr 1fr;
    }

    @include theme.md {
      grid-template-columns: 1fr 1fr 1fr;
    }

    &__item {
      max-width: 750px;
      background-color: #ffffff;
      width: 100%;
      border-radius: 3px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.04);
      overflow: hidden;
      border: 1px solid #dedede;

      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      .blog__article__top a {
        position: relative;
        display: block;

        .source__url {
          position: absolute;
          width: 30px;
          top: 10px;
          right: 15px;
          z-index: 2;
        }

        .blog__article__cover {
          width: 100%;
          height: auto;
          padding-bottom: 42%;
          background-size: cover;
          background-position: center center;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }

        &:hover .blog__article__cover {
          opacity: 0.8;
        }
      }

      .blog__article__body {
        padding: 16px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .body__article__title {
          text-align: left;
          color: #000000;
          line-height: 1.2;
          font-size: 1.1rem;

          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              color: theme.$salmon;
            }
          }
        }

        .blog__article__description {
          font-size: 0.9rem;
          padding: 17px 0 10px;
        }

        .blog__article__bottom__metas {
          margin-top: 11px;

          .blog__list__tags {
            padding-top: 10px;
            padding-bottom: 13px;
            li {
              margin-right: 10px;
              display: inline-block;
              font-size: 0.8rem;
              color: #4d5760;
              &:first-child {
                margin-left: 0;
              }
            }
          }

          .blog__user__meta {
            display: flex;
            align-items: center;

            a:hover {
              opacity: 0.8;
            }

            a > img.blog__author__pic {
              width: 38px;
              height: 38px;
              border-radius: 50%;
              display: block;
            }

            .meta__texts {
              display: flex;
              flex-direction: column;
              margin-left: 10px;
              font-size: 12px;

              span.meta__author__name,
              a.meta__author__date {
                color: inherit;
                margin-bottom: 5px;
                text-decoration: none;
                line-height: 1;
                font-weight: 700;
              }

              a.meta__author__date {
                margin-bottom: 0;
                font-weight: 400;
                color: #64707d;
                font-size: 0.8em;

                &:hover {
                  color: #9da1a7;
                }
              }
            }
          }
        }
      }
    }
  }
}
