@charset "UTF-8";
/*======================================
=            Your Main CSS            =
======================================*/
/**
 *
 * if you need loader : https://codepen.io/Viclafouch/ or https://github.com/viclafouch/Loaders
 *
 */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/* ----------  Classes  ---------- */
.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.row-verti-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-verti-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-hori-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-hori-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-hori-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-hori-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.row-verti-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.col-verti-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-hori-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col-hori-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.row-verti-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.col-verti-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*----------  Bases  ----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

q, blockquote {
  quotes: none;
}

strong {
  font-weight: bold;
  color: "Indie Flower", cursive;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  color: #444;
  font-family: "Indie Flower", cursive;
  overflow-y: scroll;
  background: #f6f6f6;
}

@media only screen and (min-width: 960px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}
h3, h6 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2.5em;
  font-family: "Raleway", sans-serif !important;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}

h4, h5, h6 {
  font-family: 'Indie Flower', cursive;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

.button_default {
  text-decoration: none;
  border: 2px solid #f0f0f0;
  display: block;
  margin: 10px 20px;
  color: #f0f0f0;
  font-family: "Indie Flower", cursive;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 10px;
  background-color: #000;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: none 0.3s ease 0s;
  transition: none 0.3s ease 0s;
  -webkit-transition-property: color, background-color, opacity, border-color, box-shadow;
  -webkit-transition-property: color, background-color, opacity, border-color, -webkit-box-shadow;
  transition-property: color, background-color, opacity, border-color, -webkit-box-shadow;
  transition-property: color, background-color, opacity, border-color, box-shadow;
  transition-property: color, background-color, opacity, border-color, box-shadow, -webkit-box-shadow;
}
.button_default:hover {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #F05F40;
}

[data-turbolinks-permanent] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

header[data-turbolinks-permanent] {
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
}
header[data-turbolinks-permanent] a {
  display: inline-block;
  text-decoration: none;
  margin-right: 17px;
  color: #444;
  -moz-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  -webkit-transition: color 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}
header[data-turbolinks-permanent] a:hover {
  color: #F05F40;
}

footer#footer {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: solid 5px #e1e5ea;
  background-color: #ebeef1;
}
footer#footer ul li {
  display: inline-block;
}
footer#footer ul li a {
  display: block;
  margin: 35px;
}
footer#footer ul li a > img {
  width: 70px;
  height: 70px;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
footer#footer ul li a > img:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

nav[data-turbolinks-permanent] {
  width: 100%;
  height: 70px;
  background-color: #f6f6f6;
  color: #444;
}
nav[data-turbolinks-permanent] ul li {
  width: calc(100% / 6);
  text-align: center;
  cursor: pointer;
  -moz-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  -webkit-transition: color 0.5s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}
nav[data-turbolinks-permanent] ul li:hover a, nav[data-turbolinks-permanent] ul li.active a {
  color: #F05F40;
}
nav[data-turbolinks-permanent] ul li a {
  color: #444;
  display: block;
  line-height: 70px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

div#subheading[data-turbolinks-permanent] {
  width: 100%;
  height: auto;
  padding: 50px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
}
div#subheading[data-turbolinks-permanent] h1, div#subheading[data-turbolinks-permanent] p {
  padding: 10px 0;
}
div#subheading[data-turbolinks-permanent] p {
  color: #444;
  line-height: 1.3em;
  font-size: 1.2em;
  max-width: 75%;
}
div#subheading[data-turbolinks-permanent] a {
  color: #fff;
  background-color: #F05F40;
  margin-bottom: 0;
}
div#subheading[data-turbolinks-permanent] a:hover {
  color: #F05F40;
  background-color: #f6f6f6;
  border-color: #F05F40;
}

section {
  width: 100%;
}
section > header {
  padding: 25px 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section > header h3 {
  color: #444;
}
section > header p {
  font-style: italic;
  font-weight: bold;
  color: #F05F40;
  text-decoration: underline;
}

section.container_index > div.content_block {
  width: 100%;
}
section.container_index > div.content_block > div.row_block {
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
section.container_index > div.content_block > div.row_block#profil_row > img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: block;
  text-align: center;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
section.container_index > div.content_block > div.row_block#profil_row > div.heading_name_role {
  padding: 20px;
  text-align: center;
}
section.container_index > div.content_block > div.row_block#profil_row > div.heading_name_role > * {
  padding: 5px;
}
section.container_index > div.content_block > div.row_block#resum_row > p.resum {
  text-align: center;
  font-size: 18px;
  padding: 30px;
  line-height: 21px;
}
section.container_index > div.content_block > div.row_block#skills_row div.item {
  width: 33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 15px;
}
section.container_index > div.content_block > div.row_block#skills_row div.item svg {
  width: 75px;
}
section.container_index > div.content_block > div.row_block#skills_row div.item span {
  display: block;
  margin: 10px 0;
  font-family: "Raleway", sans-serif !important;
  padding: 15px 10px;
  text-align: center;
}
section.container_index > div.content_block > div.row_block#skills_row div.item p {
  text-align: center;
}
section.container_index > div.content_block hr {
  width: 300px;
  background: url("../imgComp/stripes.png") center left repeat-x;
  height: 30px;
  border: 0;
}

section.container_formations div.block {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}
section.container_formations div.block div.thumbnail img {
  height: 170px;
  width: 320px;
  display: block;
}
section.container_formations div.block div.description {
  margin-left: 15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
section.container_formations div.block div.description p.date {
  color: #444;
}
section.container_formations div.block div.description p.date > i {
  vertical-align: middle;
  margin-right: 7px;
}
section.container_formations div.block div.description p.date > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
section.container_formations div.block div.description h4 {
  padding: 15px 0;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container_formations div.block div.description ul {
  color: #444;
  width: 100%;
}
section.container_formations div.block div.description ul > li {
  line-height: 22px;
}
section.container_formations div.block div.description a {
  margin: 0;
  padding: 7px;
  background-color: #34495e;
  border-color: #34495e;
  color: #fff;
}
section.container_formations div.block div.description a:hover {
  background-color: #fff;
  border-color: #34495e;
  color: #34495e;
}

section.container_portfolio div.popup_work {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.4);
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: none 0.3s ease 0s;
  transition: none 0.3s ease 0s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}
section.container_portfolio div.popup_work.active {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
section.container_portfolio div.popup_work > div.popup_overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
section.container_portfolio div.popup_work > div.popup_container {
  width: 50%;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  padding: 22px;
  background: #fff;
}
section.container_portfolio div.popup_work div.popup_container span.close {
  padding: 10px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  -webkit-transition: opacity 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  cursor: pointer;
  color: #444;
  font-size: 22px;
  position: absolute;
  top: 15px;
  right: 15px;
}
section.container_portfolio div.popup_work div.popup_container span.close:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
section.container_portfolio div.popup_work div.popup_container > div {
  width: 100%;
}
section.container_portfolio div.popup_work div.popup_container > div > h3 {
  color: #444;
  text-align: center;
  font-size: 1.4em;
  font-weight: 600;
  padding: 10px;
}
section.container_portfolio div.popup_work div.popup_container > div > div.screen {
  padding-top: 34px;
  padding-bottom: 15px;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url('../imgComp/top-bar.png?1499863081');
  background-attachment: scroll;
  background-size: 100% 35px;
  background-position: top;
  background-repeat: no-repeat;
}
section.container_portfolio div.popup_work div.popup_container > div > div.screen img {
  display: block;
  width: 100%;
}
section.container_portfolio div.popup_work div.popup_container > div > div.content > span.info {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
  text-align: left;
  background-color: #95a5a6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 11px;
  color: #fff;
  border-radius: 3px;
  margin: 10px 0;
}
section.container_portfolio div.popup_work div.popup_container > div > div.content > p {
  padding: 10px 15px;
}
section.container_portfolio div.popup_work div.popup_container > div > div.content > a {
  font-size: 15px;
  background-color: #fff;
  border-color: #F05F40;
  color: #F05F40;
  padding: 10px;
}
section.container_portfolio div.popup_work div.popup_container > div > div.content > a:hover {
  background-color: #F05F40;
  border-color: #fff;
  color: #fff;
}
section.container_portfolio article.work {
  width: 25%;
  float: left;
  margin-bottom: 30px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.container_portfolio article.work > div {
  width: 100%;
}
section.container_portfolio article.work header {
  position: relative;
  width: 100%;
  height: 127px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: none;
  z-index: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.container_portfolio article.work header > img {
  display: block;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
section.container_portfolio article.work header > div.overlay {
  position: absolute;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: none 0.3s ease 0s;
  transition: none 0.3s ease 0s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  width: 100%;
  height: 127px;
  background-color: rgba(255, 255, 255, 0.4);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
section.container_portfolio article.work header > div.overlay > span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  padding: 10px;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
section.container_portfolio article.work footer {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border: 1px solid #dedede;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-top: none;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding: 9px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
section.container_portfolio article.work footer > h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0.5em;
}
section.container_portfolio article.work footer > p {
  color: #9E9E9E;
  font-style: italic;
}
section.container_portfolio article.work:hover div.overlay {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
section.container_portfolio article.work:hover div.overlay span {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

section.container_competences div.skills div.title_stripes {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../imgComp/stripes.png") center left repeat-x;
}
section.container_competences div.skills h4 {
  background-color: #f6f6f6;
  text-align: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
  color: #444;
  margin: 30px 0;
}
section.container_competences div.skills article.skill_card {
  width: 200px;
  margin: 20px;
}
section.container_competences div.skills article.skill_card > header {
  height: 50px;
  position: relative;
}
section.container_competences div.skills article.skill_card > header img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
  width: 40px;
  height: 40px;
}
section.container_competences div.skills article.skill_card > footer > h5 {
  font-size: 1.2em;
  height: 50px;
  line-height: 50px;
  color: #222;
  text-align: center;
  text-transform: uppercase;
}
section.container_competences div.skills article.skill_card > footer > span {
  color: #9E9E9E;
  font-style: italic;
  margin-left: 15px;
}
section.container_competences div.skills article.skill_card > footer > ul {
  margin-top: 10px;
  color: #444;
}
section.container_competences div.skills article.skill_card > footer > ul > li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  padding: 5px 0;
  margin-left: 15px;
}
section.container_competences div.skills article.techno {
  padding: 20px;
  margin: 20px;
}
section.container_competences div.skills article.techno > h5 {
  color: #444;
  text-transform: capitalize;
  font-size: 20px;
  text-align: center;
  color: #F05F40;
}
section.container_competences div.skills article.techno > span {
  color: #9E9E9E;
  font-style: italic;
  padding: 5px 3px;
  text-align: center;
}

/*----------  Barre de d├®filement experience/formations  ----------*/
/*----------  Retout en haut  ----------*/
span.haut {
  height: 50px;
  width: 50px;
  background: #F05F40;
  border-radius: 50%;
  position: fixed;
  color: #f6f6f6;
  z-index: 20;
  text-align: center;
  right: 15px;
  bottom: 20px;
}
span.haut i {
  line-height: 50px;
  font-size: 2.5em;
}
span.haut:hover {
  cursor: pointer;
}
