@charset "UTF-8";
/*======================================
=            Your Main CSS            =
======================================*/
/**
 *
 * if you need loader : https://codepen.io/Viclafouch/ or https://github.com/viclafouch/Loaders
 *
 */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* ----------  Classes  ---------- */
.row, .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.row-verti-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-verti-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-hori-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col-hori-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-hori-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-hori-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.row-verti-between {
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.col-verti-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-hori-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.col-hori-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.row-verti-around {
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.col-verti-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*----------  Bases  ----------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

q, blockquote {
  quotes: none;
}

strong {
  font-weight: bold;
  color: "Roboto", sans-serif;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  color: #000;
  font-family: "Roboto", sans-serif;
  background: #f6f6f6;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

h1, h3, h6 {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 45px;
}

h4, h6 {
  font-family: 'Roboto Slab', 'Roboto', sans-serif;
}

h4 {
  font-size: 40px;
}

h6 {
  font-size: 25px;
}

.button_default {
  text-decoration: none;
  border: none;
  display: block;
  margin: 10px 20px;
  color: #f0f0f0;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-size: 15px;
  padding: 15px 15px;
  background-color: #000;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -moz-transition: none 0.3s ease 0s;
  -o-transition: none 0.3s ease 0s;
  -webkit-transition: none 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: none 0.3s ease 0s;
  transition: none 0.3s ease 0s;
  -webkit-transition-property: box-shadow, opacity;
  -webkit-transition-property: opacity, -webkit-box-shadow;
  transition-property: opacity, -webkit-box-shadow;
  transition-property: box-shadow, opacity;
  transition-property: box-shadow, opacity, -webkit-box-shadow;
}
.button_default:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: #F05F40;
}

header[data-turbolinks-permanent] {
  width: 100%;
  height: 300px;
  background: url('../imgComp/keyboard.jpg?1499431807');
  background-attachment: scroll;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
}
header[data-turbolinks-permanent] p.name {
  font-size: 2em;
  text-align: center;
}
header[data-turbolinks-permanent] div.background {
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
}

footer {
  width: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #dddddd;
}
footer ul li {
  display: inline-block;
}
footer ul li a {
  display: block;
  margin: 35px;
}
footer ul li a > img {
  width: 70px;
  height: 70px;
  -moz-transition: -moz-transform 0.3s ease 0s;
  -o-transition: -o-transform 0.3s ease 0s;
  -webkit-transition: -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}
footer ul li a > img:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

nav[data-turbolinks-permanent] {
  width: 100%;
  height: 70px;
  background-color: #F05F40;
  color: #fff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
nav[data-turbolinks-permanent] ul li {
  line-height: 70px;
  width: 130px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  -moz-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  -webkit-transition: background-color 0.5s ease;
  -webkit-transition-delay: 0s;
  -webkit-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}
nav[data-turbolinks-permanent] ul li:hover, nav[data-turbolinks-permanent] ul li.active {
  background-color: rgba(255, 255, 255, 0.3);
}
nav[data-turbolinks-permanent] ul li a {
  display: block;
  height: 100%;
  width: 100%;
  color: inherit;
  text-decoration: none;
}

div#subheading[data-turbolinks-permanent] {
  width: 100%;
  height: auto;
  padding: 80px 10%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
div#subheading[data-turbolinks-permanent] div.informations h2, div#subheading[data-turbolinks-permanent] div.informations p, div#subheading[data-turbolinks-permanent] div.avatar h2, div#subheading[data-turbolinks-permanent] div.avatar p {
  padding: 10px 0;
}
div#subheading[data-turbolinks-permanent] div.informations p, div#subheading[data-turbolinks-permanent] div.avatar p {
  color: #000;
  line-height: 1.3em;
  font-size: 1.2em;
  max-width: 600px;
}
div#subheading[data-turbolinks-permanent] div.informations a, div#subheading[data-turbolinks-permanent] div.avatar a {
  margin-left: 0;
}
div#subheading[data-turbolinks-permanent] div.informations a:first-child, div#subheading[data-turbolinks-permanent] div.avatar a:first-child {
  background-color: #0479B8;
}
div#subheading[data-turbolinks-permanent] div.informations a:last-child, div#subheading[data-turbolinks-permanent] div.avatar a:last-child {
  background-color: #7c4dff;
}
div#subheading[data-turbolinks-permanent] div.informations img, div#subheading[data-turbolinks-permanent] div.avatar img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
  margin: 0 auto;
}

section.container {
  width: 100%;
}
section.container > header {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
  text-align: center;
  height: 250px;
  background: url('../imgComp/keyboard.jpg?1499431807');
  background-attachment: scroll;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}
section.container > header h3 {
  line-height: 250px;
}
section.container > header.competences {
  background: url('../imgComp/computer.jpg?1499431807');
  background-attachment: scroll;
  background-size: cover;
  background-position: normal;
  background-repeat: no-repeat;
}
section.container > div {
  width: 100%;
  position: relative;
}

section.container_experiences div.block,
section.container_formations div.block {
  width: 100%;
  height: 400px;
}
section.container_experiences div.block:nth-child(2) > div.thumbnail,
section.container_formations div.block:nth-child(2) > div.thumbnail {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
section.container_experiences div.block > div,
section.container_formations div.block > div {
  width: 50%;
  height: 100%;
}
section.container_experiences div.block > div.thumbnail,
section.container_formations div.block > div.thumbnail {
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section.container_experiences div.block > div.description,
section.container_formations div.block > div.description {
  padding: 30px 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section.container_experiences div.block > div.description > p.date,
section.container_formations div.block > div.description > p.date {
  color: #444;
}
section.container_experiences div.block > div.description > p.date > i,
section.container_formations div.block > div.description > p.date > i {
  vertical-align: middle;
  margin-right: 7px;
}
section.container_experiences div.block > div.description > p.date > span,
section.container_formations div.block > div.description > p.date > span {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
}
section.container_experiences div.block > div.description > h4,
section.container_formations div.block > div.description > h4 {
  padding: 15px 0;
  color: #444;
}
section.container_experiences div.block > div.description > ul,
section.container_formations div.block > div.description > ul {
  color: #444;
  width: 100%;
}
section.container_experiences div.block > div.description > ul > li,
section.container_formations div.block > div.description > ul > li {
  line-height: 22px;
}
section.container_experiences div.block > div.description > a,
section.container_formations div.block > div.description > a {
  margin: 0;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

section.container_experiences #topContributor a.button_default {
  background-color: #00c853;
}
section.container_experiences #topContributor div.thumbnail {
  background-image: url('../imgComp/top-contributor-google.jpg?1499431808');
}
section.container_experiences #hero a.button_default {
  background-color: #F44336;
}
section.container_experiences #hero div.thumbnail {
  background-image: url('../imgComp/youtube-heroes.jpg?1499431808');
}
section.container_experiences #carrefour a.button_default {
  background-color: #3F51B5;
}
section.container_experiences #carrefour div.thumbnail {
  background-image: url('../imgComp/stagaire-carrefour.jpg?1499431808');
}

section.container_formations #eemi a.button_default {
  background-color: #3F51B5;
}
section.container_formations #eemi div.thumbnail {
  background-image: url('../imgComp/ecole-eemi.jpg?1499431807');
}
section.container_formations #digitalActive a.button_default {
  background-color: #00c853;
}
section.container_formations #digitalActive div.thumbnail {
  background-image: url('../imgComp/certitication-digital-active.png?1499431808');
}
section.container_formations #digitalActive div.thumbnail {
  background-size: auto !important;
}
section.container_formations #bachelor a.button_default {
  background-color: #E91E63;
}
section.container_formations #bachelor div.thumbnail {
  background-image: url('../imgComp/lycee-saint-paul.jpg?1499431808');
}

section.container_portfolio div.goals {
  padding: 30px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
section.container_portfolio div.goals h3 {
  color: #444;
  margin-bottom: 25px;
}
section.container_portfolio div.goals div.block_goal > span {
  display: block;
  width: 50px;
  height: 50px;
  background-attachment: scroll;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
section.container_portfolio div.goals div.block_goal#development > span {
  background-image: url('../imgComp/done.svg?1499431807');
}
section.container_portfolio div.goals div.block_goal#cleaning > span {
  background-image: url('../imgComp/build.svg?1499431806');
}
section.container_portfolio div.goals div.block_goal#responsive > span {
  background-image: url('../imgComp/smartphone.svg?1499431807');
}
section.container_portfolio div.goals div.block_goal > h5 {
  position: relative;
  padding: 15px 10px;
  margin: 10px 0;
}
section.container_portfolio div.goals div.block_goal > h5::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 5px;
  background-color: #F05F40;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.container_portfolio div.goals div.block_goal > p {
  text-align: center;
  color: #777;
}
section.container_portfolio div.portfolio {
  width: 100%;
  padding: 30px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
section.container_portfolio div.portfolio h3 {
  color: #444;
  margin-bottom: 25px;
}
section.container_portfolio div.portfolio > div {
  width: 100%;
}
section.container_portfolio div.portfolio > div > article {
  width: calc(25% - 2%);
  margin: 1%;
  height: 250px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #444;
  background-attachment: scroll;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
section.container_portfolio div.portfolio > div > article#beparis {
  background-image: url('../imgComp/beparis.jpg?1499431806');
}
section.container_portfolio div.portfolio > div > article#tutobwim {
  background-image: url('../imgComp/tutobwim.jpg?1499431808');
}
section.container_portfolio div.portfolio > div > article#codepen {
  background-image: url('../imgComp/codepen.jpg?1499431807');
}
section.container_portfolio div.portfolio > div > article#ficheandtricks {
  background-image: url('../imgComp/beparis.jpg?1499431806');
}
section.container_portfolio div.portfolio > div > article > div {
  position: absolute;
  top: -100%;
  overflow: hidden;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  -moz-transition: top 0.5s ease-out 0s;
  -o-transition: top 0.5s ease-out 0s;
  -webkit-transition: top 0.5s ease-out;
  -webkit-transition-delay: 0s;
  -webkit-transition: top 0.5s ease-out 0s;
  transition: top 0.5s ease-out 0s;
}
section.container_portfolio div.portfolio > div > article > div p {
  margin: 10px 0;
  color: #fff;
  text-align: center;
  line-height: 22px;
}
section.container_portfolio div.portfolio > div > article > div a {
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
section.container_portfolio div.portfolio > div > article > div a i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2em;
}
section.container_portfolio div.portfolio > div > article:hover div {
  top: 0%;
}

/*=====  End of Portfolio  ======*/
h5 {
  text-align: center;
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  position: relative;
  color: #222;
}

/*----------  Barre de d├®filement experience/formations  ----------*/
.trait {
  height: 100%;
  z-index: 1;
  position: absolute;
  width: 12px;
  background: #f6f6f6;
  left: 50%;
  top: 0;
  margin-left: -6px;
}
.trait div.trait-actif {
  position: relative;
  width: 12px;
  height: 0%;
  background-color: #2196F3;
  -webkit-transition: height 1s;
  transition: height 1s;
}

/*----------  Retout en haut  ----------*/
span.haut {
  height: 50px;
  width: 50px;
  background: #F05F40;
  border-radius: 50%;
  position: fixed;
  color: #f6f6f6;
  z-index: 20;
  text-align: center;
  right: 15px;
  bottom: 20px;
}
span.haut i {
  line-height: 50px;
  font-size: 2.5em;
}
span.haut:hover {
  cursor: pointer;
}

/*----------  Divers  ----------*/
.p__default {
  font-size: 17px;
  line-height: 25px;
  font-family: 'Roboto';
}

/*=====  End of Experience & Training  ======*/
/*=================================
=            Portfolio            =
=================================*/
section.productions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.productions h3 {
  color: #444;
  line-height: 62.5px;
}
section.productions .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/*==============================
=            Skills            =
==============================*/
.skills {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
}
.skills .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills h4 {
  text-align: center;
  padding: 20px;
  font-size: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.skill-card {
  min-width: 16%;
  margin: 2% 2%;
  background-color: #FFF;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  overflow: hidden;
}
.skill-card span.tap img {
  display: none;
}
.skill-card:hover {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill-card:hover .skill-card__header {
  height: 50px;
}
.skill-card:hover .skill-card__header img {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1.5);
          transform: translateX(-50%) translateY(-50%) scale(1.5);
}
.skill-card:hover .skill-card__body {
  height: 150px;
}
.skill-card .skill-card__header {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
}
.skill-card .skill-card__header.html {
  background-color: #eb6c3f;
}
.skill-card .skill-card__header.css {
  background-color: #169ae7;
}
.skill-card .skill-card__header.js {
  background-color: #Ffbd2d;
}
.skill-card .skill-card__header.php {
  background-color: #89f11f;
}
.skill-card .skill-card__header.wordpress {
  background-color: #3F51B5;
}
.skill-card .skill-card__header.compass {
  background-color: #fff;
}
.skill-card .skill-card__header.jquery {
  background-color: #fff;
}
.skill-card .skill-card__header.bootstrap {
  background-color: #fff;
}
.skill-card .skill-card__header img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: center row;
          flex-flow: center row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 115px;
  height: 115px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.skill-card .skill-card__body {
  height: 50px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4em;
  font-weight: 600;
  padding: 15px 0px !important;
  margin-left: 15px !important;
  text-transform: uppercase;
}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-style: italic;
  margin-left: 15px;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
}
.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  margin-left: 15px;
  -webkit-transition-duration: 0;
          transition-duration: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.skill-card:hover .skill-card__body .skill-card__knowledge li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
          transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

/*=====  End of Skills  ======*/
/*===============================
=            But too            =
===============================*/
section.mais_aussi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: strech;
      -ms-flex-align: strech;
          align-items: strech;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
section.mais_aussi h4 {
  padding: 10px;
}
section.mais_aussi div.left {
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
section.mais_aussi div.left img {
  width: 200px;
}
section.mais_aussi div.left p {
  margin: 15px;
}
section.mais_aussi div.middle {
  width: 10%;
  background: url('../imgComp/code.svg?1499431806');
  background-attachment: scroll;
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
section.mais_aussi div.right {
  width: 40%;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.mais_aussi div.right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 60%;
  margin: 0 auto;
  text-align: center;
}
section.mais_aussi div.right ul li {
  font-size: 18px;
  margin: 5px 0px;
  color: #000;
}

/*=====  End of But too  ======*/
/*===============================
=            Contact            =
===============================*/
section.contact {
  width: 100%;
  background: url('../imgComp/keyboard.jpg?1499431807');
  background-attachment: fixed;
  background-size: 100%;
  background-position: cover;
  background-repeat: no-repeat;
}
section.contact div.block__title {
  background: transparent;
  height: 175px;
}
section.contact div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
}
section.contact div.row div.left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
section.contact div.row div.right {
  width: 50%;
  text-align: center;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: 0 auto;
}
form input, form textarea {
  width: 90%;
  outline: none;
  border-radius: 3px;
  margin-top: 20px;
  border: 0;
  font-family: 'Roboto';
  font-size: 16px;
  resize: none;
}
form input {
  padding: 0px 20px;
  height: 60px;
}
form textarea {
  height: 260px;
  padding: 20px 20px;
}
form button {
  height: 62px;
  text-transform: uppercase;
  border-radius: 2px;
  font-size: 17px;
  width: 80%;
  letter-spacing: 1px;
  background: #F05F40;
  color: #fff;
  border: 0;
  font-family: 'Roboto';
  margin: 25px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  outline: none;
  position: relative;
}
form button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
form button:focus {
  background: green;
}

.notif {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-size: 1.2em;
  -webkit-animation: test 0.3s ease-out;
          animation: test 0.3s ease-out;
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#ok {
  background-color: #4CAF50;
}

#nok {
  background-color: #D50000;
}

@-webkit-keyframes test {
  0%, 100% {
    display: none;
  }
  50% {
    display: block;
  }
}

@keyframes test {
  0%, 100% {
    display: none;
  }
  50% {
    display: block;
  }
}
/*=====  End of Contact  ======*/
/*==============================
 =            Footer            =
 ==============================*/
/*=====  End of Footer  ======*/
/*==========================================
=            Responsive < 600px            =
==========================================*/
@media screen and (max-width: 600px) {
  body::-webkit-scrollbar {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  h3 {
    font-size: 25px;
    white-space: wrap;
  }

  h4 {
    display: block;
    font-size: 29px;
  }

  .block__title {
    text-align: center;
    height: 100px;
    margin: 30px 0;
  }

  .trait {
    display: none;
  }

  #barre-1 {
    left: -3px;
  }

  /*----------  Header  ----------*/
  header {
    color: #fff;
    height: 150px;
  }
  header div {
    height: auto;
  }
  header div p {
    font-size: 1.5em;
  }
  header div.fond {
    background-color: rgba(0, 0, 0, 0.5);
  }

  /*----------  Resum  ----------*/
  section.resum {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  section.resum div.developer.left {
    margin: auto;
    text-align: center;
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  section.resum div.developer.left p.minidesc {
    margin: auto;
  }
  section.resum div.developer.left p.button-row {
    margin: auto;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }
  section.resum div.developer.left p.button-row a {
    margin: 10px 0px 10px 0;
    white-space: nowrap;
  }
  section.resum div.avatar.right {
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: auto;
  }
  section.resum div.avatar.right img {
    height: 150px;
    margin-top: 10px;
    width: 150px;
  }

  /*----------  Experience & Training  ----------*/
  section.experience div.block,
  section.formation div.block {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  section.experience div.block div.aside,
  section.formation div.block div.aside {
    width: 100%;
    height: auto;
  }

  section.experience div.oneside,
  section.formation div.oneside {
    height: 200px !important;
  }
  section.experience div.overside div,
  section.formation div.overside div {
    margin-left: 0px;
    width: 100%;
    text-align: center;
  }
  section.experience div.overside div p.date,
  section.formation div.overside div p.date {
    margin: 10px 0;
  }
  section.experience div.overside div i,
  section.formation div.overside div i {
    display: none;
  }
  section.experience div.overside div p.description, section.experience div.overside div ul.list,
  section.formation div.overside div p.description,
  section.formation div.overside div ul.list {
    margin: 10px 0px;
    min-height: 0;
  }
  section.experience div.overside div span.mini__img,
  section.formation div.overside div span.mini__img {
    display: none;
  }
  section.experience div.overside div ul.list,
  section.formation div.overside div ul.list {
    width: 100%;
  }
  section.experience div.overside div p.description,
  section.formation div.overside div p.description {
    padding: 20px;
  }
  section.experience div.overside div p.description, section.experience div.overside div li,
  section.formation div.overside div p.description,
  section.formation div.overside div li {
    max-width: 95%;
    margin: 0;
  }
  section.experience div.overside div a.button,
  section.formation div.overside div a.button {
    display: block;
    width: 30%;
    margin: 10px auto;
  }

  section.experience .youtube div.oneside {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  section.formation .digital div.oneside {
    margin-top: 10px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-size: contain;
  }

  /*----------  Portfolio  ----------*/
  div.block__goals {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
    height: 500px;
    margin-top: 20px;
  }
  div.block__goals h3 {
    margin: 15px;
  }
  div.block__goals .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: auto;
  }

  .goal {
    margin: 20px 0px;
    width: 100%;
    height: 150px;
  }
  .goal .ico {
    height: 35px;
    width: 35px;
    margin-bottom: 0px;
  }
  .goal h5 {
    position: static;
  }
  .goal h5::after {
    display: none;
  }
  .goal p {
    height: auto;
    max-width: 90%;
  }

  section.productions .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
  }

  .prod {
    width: 90%;
    height: 220px;
  }
  .prod div.text p {
    font-size: 15px;
  }
  .prod span.tap img {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    -webkit-animation: zoom 0.5s ease-in infinite;
            animation: zoom 0.5s ease-in infinite;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  @-webkit-keyframes zoom {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes zoom {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  .prod:hover span.tap img {
    opacity: 0;
  }

  /*----------  Skills  ----------*/
  div.skill-card {
    width: 45% !important;
  }
  div.skill-card .skill-card__header span.tap img {
    display: block;
    height: 30px;
    width: 30px;
    z-index: 999;
    position: absolute;
    left: 4px;
    bottom: 6px;
    top: auto;
    -webkit-animation: zoom 0.5s ease-in infinite;
            animation: zoom 0.5s ease-in infinite;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  div.skill-card:hover span.tap img {
    opacity: 0;
  }

  section.mais_aussi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.mais_aussi div.left {
    width: 100%;
    height: auto;
  }
  section.mais_aussi div.left img {
    width: 100px;
  }
  section.mais_aussi div.middle {
    display: none;
  }
  section.mais_aussi div.right {
    width: 100%;
  }
  section.mais_aussi div.right ul {
    height: auto;
  }

  /*----------  Contact  ----------*/
  section.contact {
    background: transparent;
  }
  section.contact div.block__title {
    background: url('../imgComp/keyboard.jpg?1499431807');
    background-attachment: scroll;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    height: 150px;
  }
  section.contact form {
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contact form div.row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  section.contact form div.row div.left, section.contact form div.row div.right {
    width: 100%;
    margin: 0;
  }
  section.contact form input, section.contact form textarea {
    width: calc(100% - 40px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px auto;
  }
  section.contact form input {
    padding: 0px 20px;
    height: 60px;
  }
  section.contact form textarea {
    height: 260px;
    padding: 20px 20px;
  }
}
/*=====  End of Responsive < 600px  ======*/
/*==========================================
=            Responsive 600 > 1024px       =
==========================================*/
@media screen and (min-width: 600px) and (max-width: 1024px) {
  body::-webkit-scrollbar {
    display: none;
  }

  .block__title {
    height: 180px;
  }

  /*----------  Resum  ----------*/
  section.resum div.developer.left p.button-row {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  section.resum div.developer.left p.button-row a {
    margin: 0px 15px 0px 0px;
    white-space: nowrap;
  }

  /*----------  Experiences & Training  ----------*/
  section.experience div.block,
  section.formation div.block {
    height: 450px;
  }

  section.experience div.oneside,
  section.formation div.oneside {
    background-size: cover !important;
  }
  section.experience div.overside div,
  section.formation div.overside div {
    margin-left: 20px;
  }
  section.experience div.overside div h4,
  section.formation div.overside div h4 {
    white-space: pre-wrap;
  }
  section.experience div.overside div span.mini__img,
  section.formation div.overside div span.mini__img {
    display: none;
  }

  /*----------  Portfolio ----------*/
  div.block__goals {
    height: 300px;
  }
  div.block__goals .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }

  .goal {
    width: 33%;
  }
  .goal p {
    height: 30%;
  }

  .prod {
    width: calc(48% - 2px);
  }
  .prod span.tap img {
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -25px;
    -webkit-animation: zoom 0.5s ease-in infinite;
            animation: zoom 0.5s ease-in infinite;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  @-webkit-keyframes zoom {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes zoom {
    0%, 100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  .prod:hover span.tap img {
    opacity: 0;
  }
  .prod div {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .prod div p {
    font-size: 15px;
  }

  /*----------  But too  ----------*/
  section.mais_aussi h4 {
    text-align: center;
  }

  /*----------  Contact  ----------*/
  section.contact {
    background: transparent;
  }
  section.contact div.block__title {
    background: url('../imgComp/keyboard.jpg?1499431807');
    background-attachment: scroll;
    background-size: 100%;
    background-position: cover;
    background-repeat: no-repeat;
    height: 150px;
  }
  section.contact form {
    text-align: center;
    width: 90%;
    height: auto;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.contact form div.row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  section.contact form div.row div.left, section.contact form div.row div.right {
    width: 100%;
    margin: 0;
  }
  section.contact form input, section.contact form textarea {
    width: calc(100% - 40px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px auto;
  }
  section.contact form input {
    padding: 0px 20px;
    height: 60px;
  }
  section.contact form textarea {
    height: 260px;
    padding: 20px 20px;
  }
}
/*----------  End of Responsive 600 > 1024px  ----------*/
