.skills-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.skills-list li {
    width: 50%;
    min-width: 180px;
}

.skillscontainer ul:not(.technos-list) article {
    width: 100%;
    margin: 15px 0px;
    overflow: hidden;
}

.skillscontainer article > header {
    height: 50px;
    position: relative;
}

.skillscontainer article > header > img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    display: block;
    width: 40px; height: 40px;
}

.skillscontainer article > footer > h5 {
    font-size: 1.2em;
    height: 50px;
    line-height: 50px;
    color: #222;
    text-align: center;
    text-transform: uppercase;
}

.skillscontainer article > footer > span {
    color: #9E9E9E;
    font-style: italic;
    margin-left: 15px;
}

.skillscontainer article > footer > ul {
    margin-top: 10px;
    color: #444;
}

.skillscontainer article > footer > ul > li {
    border-bottom: 1px dashed rgba(0,0,0,0.1);
    padding: 5px 0;
    margin-left: 15px;
}

.skillscontainer ul.frameworks-list article > footer > *,
.skillscontainer ul.frameworks-list article > footer {
   text-align: center!important;
   margin: 0 auto;
}


.skillscontainer ul.technos-list li {
    flex-basis: 20%;
}

@media only screen and (min-width:480px) {
    .skills-list li {
        width: auto;
    }

    .skillscontainer ul:not(.technos-list) article {
        width: 200px;
        margin: 15px 10px;
    }
}