.form {
    padding: 15px 0;
    composes: col from '../../styles.css';
    composes: nowrap from '../../styles.css';
}

.form-label {
    width: 100%;
    padding: 0px 10px 20px 10px;
    composes: col from '../../styles.css';
    composes: nowrap from '../../styles.css';
}

.form-span {
    margin-bottom: 10px;
}

.form-field {
    border: none;
    composes: row from '../../styles.css';
    composes: nowrap from '../../styles.css';
    position: relative;
}

.form-field.invalid {
    border-color: #e74c3c;
    color: #e74c3c;
}

.form-field.invalid input,
.form-field.invalid textarea {
    color: #e74c3c;
}

.form-field.valid {
    border-color: #2ecc71;
    color: #2ecc71;
}

.form-field.valid input,
.form-field.valid textarea {
    color: #2ecc71;
}

.form-field span.form-ico {
    background-color: #fafafa;
    width: 40px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
    position: relative;
}

.form-field span.form-ico span {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (min-width:500px) {
    .form-field span.form-ico {
        display: block;
    }
}

.form-field input,
.form-field textarea {
    outline: none;
    border:0; margin: 0;
    flex-grow: 1;
    resize: none;
    font-family: 'ABeeZee', sans-serif;
    padding: 10px;
    font-size: 16px;
}

.form-field input:-webkit-autofill,
.form-field input:-webkit-autofill:hover,
.form-field input:-webkit-autofill:focus
.form-field input:-webkit-autofill,
.form-field textarea:-webkit-autofill,
.form-field textarea:-webkit-autofill:hover
.form-field textarea:-webkit-autofill:focus,
.form-field select:-webkit-autofill,
.form-field select:-webkit-autofill:hover,
.form-field select:-webkit-autofill:focus {
    -webkit-text-fill-color: #2ecc71;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.form button {
    align-self: center;
}

.form p {
    margin: 5px;
}

.form p:after {
    content:"";
    display:inline-block;
    width:0px;
}


.valid-message {
    color: green;
}

.invalid-message {
    color: red;
}