.footer {
  width: 100%;
  margin-top: 30px;
  padding: 40px 15px;
  border-top: solid 5px #e1e5ea;
  background-color: $s-bg-color;

  & > p {
    text-align: center;
    font-weight: 700;

    &:last-child {
      margin-top: 7px;
    }
  }
}
