.HomeContainer {
    composes: container from '../../styles.css';
}

.content-row {
    text-align: center;
    padding: 20px 10px;
    width: 100%;
}

.profile-picture {
    border-radius: 50%;
    width: 75px; height: 75px;
    display: block;
    text-align: center;
    margin: 10px auto;
    position: relative;
    composes: p-shadow from '../../styles.css';
}

.title {
    padding: 5px;
}

.sub-title {
    color: #7f8c8d;
}

.homecontainer hr {
    width: 300px;
    background: url(./stripes.png) center left repeat-x;
    height: 30px;
    border: 0;
}

.profile-resume {
    text-align: center;
    font-size: 17px;
    padding: 30px;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.3em;
}

.content-row h3 {
    margin-bottom: 20px;
}

.actually-img {
    margin: 20px auto;
    max-width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.02);
    composes: p-shadow from '../../styles.css';
}

.actually-container p:last-child {
    font-size: 13px;
    color: #576574;
    padding: 10px 5px;
}

.actually-container p {
    line-height: 1.3em;
}