.subheading {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: $s-bg-color;
  position: relative;
  @extend %subheading;

  &-link-logo {
    display: none;
    margin: 0;
    border: 0;

    & > img {
      width: 50px;
    }
  }

  &-title {
    margin: 15px 0;
    padding: 10px 15px;
  }

  &-subtitle {
    color: $p-txt-color;
    padding: 10px 5px;
    max-width: 75%;
    margin: 0 auto;
  }

  .button {
    margin-bottom: 0;
    @extend %subheading;
  }
}

@media only screen and (min-width: 600px) {
  .subheading-link-logo {
    display: block;
  }
}
