.subheading {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: $s-bg-color;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;

  &_title {
    margin: 15px 0;
    padding: 10px 15px;
  }

  &_subtitle {
    color: $p-txt-color;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 1.1rem;
    max-width: none;
    @include sm {
      max-width: 75%;
    }
  }

  button {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

@media only screen and (min-width: 600px) {
  .subheading-link-logo {
    display: block;
  }
}
