.subheading {
  width: 100%;
  height: auto;
  padding: 50px 0;
  background-color: $s-bg-color;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  text-align: center;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &_logo {
    display: none;
    margin-bottom: 30px;

    @include sm {
      display: block;
    }
  }

  &_title {
    margin-bottom: 15px;
    padding: 10px 15px;
    font-size: 2.5rem;
    font-family: Karma, sans-serif;
    font-weight: 500;
  }

  &_subtitle {
    color: $p-txt-color;
    padding: 10px 5px;
    margin: 0 auto;
    font-size: 1.1rem;
    max-width: none;
    @include sm {
      max-width: 75%;
    }
  }

  a:last-child {
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
}

@media only screen and (min-width: 600px) {
  .subheading-link-logo {
    display: block;
  }
}
