.training-item {
    width: 100%;
    padding: 20px 30px;
    composes: col from '../../styles.css';
    composes: nowrap from '../../styles.css';
}

.training-item:not(:last-child) {
    border-bottom: 1px dashed rgba(0,0,0,.3);
}

.training-item-thumbnail > img {
    padding-bottom: 15px;
    height: 170px;
    width: 320px;
    margin: 0 auto;
    display: block;
}

.training-item-description {
    composes: col from '../../styles.css';
    composes: nowrap from '../../styles.css';
    flex-grow: 1;
}

.training-item-description-header {
    composes: row from '../../styles.css';
    composes: row-hori-between from '../../styles.css';
    composes: row-verti-center from '../../styles.css';
    composes: nowrap from '../../styles.css';
}

.training-item-description-date {
    color: #444;
}

.training-item-description-date svg {
    vertical-align: middle;
    margin-right: 7px;
}

.training-item-description-date span:last-child {
    display: inline-block;
    vertical-align: middle;
}

.training-item h4 {
    padding: 15px 0;
    color: #444;
    text-align: left;
}

.training-item-list-row {
    color: #445;
    width: 100%;
}

.training-item-list-row li {
    line-height: 22px;
}

@media only screen and (min-width:768px) {
    .training-item {
        padding: 60px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

    .training-item-description {
         margin-left: 15px; padding-right: 17px;
    }
}