@use 'sass:color';
@use '../../scss/global/theme';

.navigation {
  width: 100%;
  background-color: theme.$p-bg-color;
  color: theme.$p-txt-color;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  & > div {
    padding: 10px;
    height: 70px;
    justify-content: space-between;

    & > a,
    & > a > img {
      display: block;
      max-height: 70px;
    }

    img {
      padding: 10px 0;
    }
  }

  .nav_links_list {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: color.scale(theme.$s-bg-color, $alpha: -10%);
    padding-top: calc(#{theme.$nav-height} + #{theme.$header-height});
    visibility: hidden;
    opacity: 0;
    z-index: 99;
    right: -100%;
    transition-property: right, visibility, opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease;

    &.nav_links_list_active {
      right: 0;
      visibility: visible;
      opacity: 1;
    }

    & > li {
      margin-top: 30px;
      padding: 10px 20px;
    }

    &_item_href {
      padding: 5px 10px;
      display: inline;
      text-align: left;
      text-transform: uppercase;
      text-decoration: none;
      color: inherit;
    }
  }
}

$sizeBurger: 32px;

.nav_burger {
  display: block;
  height: $sizeBurger;
  width: $sizeBurger;
  cursor: pointer;
  z-index: 999;
  position: relative;
  transition: transform 0.3s ease;

  &::before,
  &::after,
  & > span {
    background-color: theme.$p-txt-color;
    height: 2px;
    width: calc(100% - calc(#{$sizeBurger} / 4));
    margin: 0 auto;
    left: 0;
    right: 0;
    @include theme.pseudo();
    transition-property: opacity, margin-top, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    top: 50%;
    margin-top: -1px;
  }

  &::before {
    transform: translateY(calc(#{$sizeBurger} / 4));
  }
  &::after {
    transform: translateY(calc(#{$sizeBurger} / -4));
  }

  &.menu_opened {
    & > span {
      visibility: hidden;
    }

    &::before,
    &::after {
      top: 50%;
      margin-top: -1px;
    }

    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

.nav_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: color.adjust(#000000, $alpha: -0.65);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

@media only screen and (min-width: 700px) {
  .navigation {
    & > div {
      justify-content: center;

      & > a {
        display: none;
      }
    }

    .nav_links_list {
      position: static;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70px;
      color: theme.$p-txt-color;
      padding-top: 0;
      visibility: visible;
      opacity: 1;
      background-color: transparent;

      & > li {
        flex: 1;
        margin-top: 0px;
        padding: 0px;
      }

      &_item_href {
        padding: 0 25px;
        line-height: 70px;
        display: block;
        text-align: center;
        position: relative;

        &:hover {
          color: theme.$salmon;
        }

        &::after {
          @include theme.pseudo();
          bottom: 0;
          width: 0;
          height: 2px;
          background-color: theme.$salmon;
          left: 50%;
          opacity: 0;
          transition: opacity 0.5s, width 0.5s;
          transform: translateX(-50%);
        }

        &:hover::after,
        &.active::after {
          opacity: 1;
          width: 80%;
        }
      }
    }
  }

  .nav_burger {
    display: none;
  }
}

.nav_links_list {
  &-item-href.active {
    color: theme.$salmon;
  }
}
