html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }
html { line-height: 1; }
ol, ul { list-style: none; }
q, blockquote { quotes: none; }
strong { font-weight: bold; color: 'ABeeZee', sans-serif; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }
a img { border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

.row, .col { display: flex; }

.row { flex-direction: row }
.col { flex-direction: column }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap }

.row-verti-center {align-items: center }
.col-verti-center { justify-content: center }

.row-hori-center { justify-content: center }
.col-hori-center {align-items: center }

.row-hori-between { justify-content: space-between }
.col-hori-between { align-items: space-between }

.row-verti-between { align-items: space-between }
.col-verti-between { justify-content: space-between }

.row-hori-around { justify-content: space-around }
.col-hori-around { align-items: space-around }

.row-verti-around { align-items: space-around }
.col-verti-around { justify-content: space-around }

.primary-color {
    color: #F05F40;
}

body {
    padding: 0;
    margin: 0;
    color: #444;
    background-color: #F6F6F6;
    overflow-y: scroll;
    font-family: ABeeZee,sans-serif;
}

body * {
    box-sizing: border-box;
}

h1 {
    margin: 0;
    font-size: 2.4em;
    font-family: Karma,serif!important;
    font-weight: 700;
}

h2 {
    margin: 0;
    font-size: 2.2em;
    text-align: center;
}

h3 {
    font-size: 35px;
    text-align: center;
}

h4 {
    font-size: 27px;
    text-align: center;
}

h5 { font-size: 25px; }

.p-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.s-shadow {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.t-shadow {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

@media only screen and (min-width: 960px) {
    .container {
        width: 960px;
        margin: 0 auto;
    }
}